


/* 
Hi, this is my css for my online portfolio. This is hand-made and personnal. 
No copy or reproduction is allowed. If interested in anything, please contact me first.
*/

@import url("css_header_mobile.css");
@import url("css_hello_world.css");

:root {
	--textcolor:  white;
	--background_color: #121212; /* #faf7f1 */
}

body {
	background-color: var(--background_color);
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: 'helvetica', sans-serif;
	color: var(--textcolor);
}

.website-counter {
	position:  aboslute; 
	top:  0; 
	left: 0; 
	color:  var(--background_color);
}


.portfolio_background {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: 'times new roman';
	font-size: 15vw;
	color: white;
	opacity: 0.2;

	z-index: -1;
}

.gradient_color, .gradient_black {
	position: fixed;
	top: 50%;
}

.gradient_color {
	left: 0em;
	width: 3px;
	height: 250px;
	z-index: 3;
	transform: translate(0, -50%);
	background: linear-gradient(to top, #FF453AFF, #FF9F0AFF, #FFD60AFF, #30D158FF, #64D2FFFF); /* #0A84FFFF, #5E5CE6FF, #BF5AF2FF, #FF375FFF); */
}

.gradient_black {
	right: 0em;
	width: 3px;
	height: 100px;
	transform: translate(0, -50%);
	background: linear-gradient(to top, white, black);
}


/* MAIN */
.content {
	position: relative;
	top: 0px;
	width: 100%;
	height: auto;
	background-color: none;

	font-size: 1em;
}

		/* sections */
		.section_1 {
			position: relative;
			width: 100%;
			height: 100vh;
		}

		.section_2 {
			position: relative;
			margin-top: 10vh;
			width: 100%;
			height: auto;
		}

		.section_3 {
			position: relative;
			width: 100%;
			height: auto;
		}

		.section_4 {
			position: relative;
			width: 100%;
			height: auto;
			margin-bottom: 20vh;
		}
		
		.section_5_footer {
			position: relative;
			width: 100%;
			height: auto;
		}

		.section_contact {
			position: relative;
			width: 100%;
			top: 6vh;
			height: 100%;
		}
		/* sections end */

.column_left, .column_right {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

.column_left {
	background-color: none;
}

.column_right {
	background-color: none;
	padding-bottom: 0vh; /* !!!!!!!!!!!!!!!! */
}

.content_intro {
	position: absolute;
	top: 90%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);

	text-align: left;
}

.content_intro_picture {
	position: absolute;
	top: 35%;
	left: 50%;
	height: 55%;
	background-color: none;
	transform: translate(-50%, -50%);
	
	text-align: center;
	z-index: -2;
}

.content_title {
	margin-left: 10vw;
}

h1 {
	font-size:  1.8em;
	font-style: bold;
}

.content_date, .content_text {
	height: auto;
	display: flex;
	float:  left;
	width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.content_text {
	margin-top: -1em;
}

#last {
	margin-bottom: 18vh;
}


span.titre_content {
	font-weight: bold;
}

/* MAIN END*/

/* CONTACT */
.contact_ad {
	position: relative;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: auto;
	margin-top: 20vh;
}

.contact_adresse {
	position: relative;
	width: 40%;
	margin-top: 15vh;
	margin-bottom: 20vh;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
}

/* CONTACT END */

/* WORK */

.WIP {
	position: relative; 
	height: 87vh; 
	text-align: center; 
	font-size: 1em;
}
.WIP_text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}

.pWIP {
	font-size: 5em;
	margin: 0;
}

a.portfolio_hover:hover {
	cursor: url('uploads/portfolio_image.png'), auto;
}

/* WORK END */

a.Instagram {
	text-decoration: line-through;
}

a.Instagram:hover {
	color: #E1306C;
}

a.link:hover {
	color: #0072b1;
}

a.portfolio_hover {
	border-bottom: 0.5px solid;
}

a.portfolio_hover:hover {
	border-bottom: 2px solid;
}

/* FOOTER */
#half_left {
	text-align: center;
	display: none;

}

#half_right {
	text-align: center;
	font-size: 0.7em;
}

/* FOOTER END */