/* style.css */

/* --- VARIABLES --- */
:root{
  --bg-color: #e0e0e0;
  --pill-background: #222;
  --txt-color: #ffffff;
  --shadow: 6px 4px 8px rgba(0, 0, 0, 0.2);

  --accent-color: #ff9a4d; /* fallback of JS */
  --on-accent: #000;

  --pill-radius: 8px;
  --pill-font-size: 14px;
  --pill-padding-updown: 10px;
  --pill-padding-global: var(--pill-padding-updown) 12px var(--pill-padding-updown) 12px;
  --pill-height: calc(var(--pill-font-size) + var(--pill-padding-updown) * 2);
  --pill-portrait: calc(var(--pill-font-size) + var(--pill-padding-updown) * 2);
  --pil-gap: 4px;
}

.accent-text { color: var(--accent-color); }
.pill.accent-border { box-shadow: 0 6px 16px rgba(0,0,0,.15); border: 1px solid var(--accent-color); }
.accent-chip { background: var(--accent-color); color: var(--on-accent); }


* {
  cursor: default;
}


/* --- CODE --- */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  font-family: Helvetica, sans-serif, sans-serif;
  font-weight: 100;
}

.main-bar {
  display: flex;
  align-items: center;
  gap: var(--pil-gap);
}

.pill {
  background-color: rgb(42, 42, 42);
  color: var(--txt-color);
  padding: var(--pill-padding-global);
  border-radius: 8px;
  font-size: var(--pill-font-size);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
}

/* Profile picture */
.profile-img {
  width: var(--pill-height);
  height: var(--pill-height);
  border-radius: 50%;
  background-color: var(--pill-background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* ID customization */
#chat {
  width: 200px;
  background-color: var(--pill-background);

  cursor: text;
}

/* Pill Preview */
.pill {
  background-color: rgb(42, 42, 42);
  color: var(--txt-color);
  padding: var(--pill-padding-global);
  border-radius: var(--pill-radius);
  font-size: var(--pill-font-size);
  line-height: 1;
  display: flex;
  align-items: center;
  position: relative;
}

/* Dropdown */
#dropdown,
#dropdown * {
  cursor: pointer;
}

#dropdown strong {
  font-weight: 500;
  color: var(--txt-color);
}

.material-symbols-outlined.icon {
  font-size: var(--pill-font-size);
  line-height: 1;
  margin-right: 8px;
  vertical-align: middle;
}

/* preview pill */
#preview {
  width: 40px;
  overflow: hidden;
  background-color: var(--pill-background);
}

/* invisible text used for padding height */
#preview .ghost {
  visibility: hidden;
  pointer-events: none;
}

/* image fills pill */
#preview img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;

  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}