


/* 
Hi, this is my css for my online portfolio. This is hand-made and personnal. 
No copy or reproduction is allowed. If interested in anything, please contact me first.
*/

:root {
	--textcolor:  white;
	--background_color: #121212; /* #faf7f1 */
}

body {
	background-color: var(--background_color);
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: 'helvetica', sans-serif;
	color: var(--textcolor);
}

p {
	font-weight: lighter;
	line-height: 1.5em;
	font-size: 0.8em;
}

p2 {
	opacity: 0.5;
}

h2{
	font-size: 1.5em;
	font-weight: lighter;
}

a {
	opacity: 0.5;
	text-decoration: none;
	color: var(--textcolor);
}
a:hover {
	opacity: 1;
	color: var(--textcolor);
}

.centered_intro {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	transform: translate(-50%, -50%);
	height: auto;
	background-color: none;
	text-align: center;
}

.half {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#right {
	border-top: 1px solid white;
}

.centered_bot {
	position: absolute;
	bottom: 0.1em;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: none;
	background-color: none;
}

.text_bot {
	position: relative;
	float: left;
}